<table class="table table-success table-striped">

  <thead>
      <tr>
       <th>User Id</th>
       <th>Full Name</th>
       <th>Email</th>
       <th>About</th>

      </tr>
  </thead>
   <tbody>
       <tr *ngFor="let customer of users">
           <td>
               {{customer.id}}
           </td>
           <td>
               {{customer.name}}
           </td>
           <td>
               {{customer.email}}
           </td>
           <td>
              {{customer.about}}
        </td>


         <td>

               <button class="btn btn-sm btn-danger" (click)="deleteUser(customer.id)">Delete</button>
           </td>
       </tr>
   </tbody>
</table>
