<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <h1 class="mt20">Available Posts</h1>
    <div class="row mt20" *ngIf="post">
      <mat-card class="mb20">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <mat-icon>assessment</mat-icon>
          </div>
          <mat-card-title>
            {{ post.title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="truncate">{{ post.content }}</p>
        </mat-card-content>
        <div *ngIf="post.imageName" class="container">
          <img
            mat-card-image
            src="'http://localhost:8084/posts/post/image/'+ post.imageName"
            alt="No image"
          />
        </div>
        <mat-card-content>
          <h5 class="truncate">
            Added by {{ post.user.name }} on
            {{ post.addedDate | date: 'yyyy-MM-dd HH:mm:ss' }}
          </h5>
        </mat-card-content>
        <div class="row mt20" *ngFor="let p of post.comments; let i = index">
          Comments
          <mat-card-content>
            <p class="truncate">{{ i + 1 }}) {{ p.content }}</p>
          </mat-card-content>
        </div>
      </mat-card>

      <div *ngIf="login.getUser().id == post.user.id">
        <div class="row">
          <button
            class="mb20"
            mat-raised-button
            color="accent"
            (click)="deleteQuiz(post.id)"
          >
            Delete
          </button>
          <button
            class="mr20"
            [routerLink]="'/user-dashboard/update/' + post.id"
            mat-stroked-button
            color="accent"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
