
<div class="container mt-5">

        <h1 class="text-center">Post comment</h1>
        {{ comment | json }}

        <form (ngSubmit)="formSubmit()">
          <mat-form-field style="width: 100%;" appearance="outline">

            <input
              [(ngModel)]="comment.content"
              name="content"
              required
              matInput
              placeholder="Give content"
            />
          </mat-form-field>


          <div class="container text-center mb-3">
            <button type="submit" mat-raised-button color="primary">
              Post
            </button>

          </div>

        </form>
