<div class="container mt-5">
  <div class="row">
    <mat-card>
      <div class="col-md-6 offset-md-3">
        <div class="container text-center mt-2">
          <img src="../../../assets/ss.png" width="150px" alt="not present" />
        </div>
        <h1 class="text-center">Register</h1>
        {{user | json}}
        <form (ngSubmit)="formSubmit()">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              required
              [(ngModel)]="user.email"
              type="email"
              name="username"
              matInput
              placeholder="email"
            />

            <mat-hint>username must be unique</mat-hint>
          </mat-form-field>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              required
              [(ngModel)]="user.password"
              name="password"
              type="password"
              matInput
              placeholder="Password"
            />
          </mat-form-field>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Name</mat-label>
            <input
              required
              [(ngModel)]="user.name"
              name="firstName"
              matInput
              placeholder="First Name"
            />
          </mat-form-field>

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>About</mat-label>
            <input
              required
              [(ngModel)]="user.about"
              name="text"
              type="About"
              matInput
              placeholder="About"
            />
          </mat-form-field>

          <div class="container text-center mb-3">
            <button type="submit" mat-raised-button color="primary">
              Register
            </button>

          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>
