<!--
<div class="row">
  <div class="col-md-3">
    <app-sidebar-user></app-sidebar-user>
  </div>
  <div class="col-md-9">

      <router-outlet></router-outlet>
  </div>
</div> -->
<br>
<div class="card"   >
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body" *ngFor="let p of posts.content; let i=index">
    <h5 class="card-title">{{p.title}}</h5>
    <p class="card-text">{{p.content}}</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>

</div>

  <!-- //error aa raha kyuki bhut saara quiz me hum title and ctaegory nhi daale hai -->
<!-- <mat-card *ngFor="let q of posts">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        {{ q.title }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ q.category.title }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{ q.description }}</p>
    </mat-card-content>
    <div class="container mb20">
      <button
        [routerLink]="'/admin/view-questions/' + q.qid + '/' + q.title"
        mat-flat-button
        color="accent"
      >
        Question
      </button>
      <button class="ml20" mat-stroked-button color="accent">
        Max Marks {{ q.maxMarks }}
      </button>
      <button class="ml20" mat-stroked-button color="accent">
        Max Questions {{ q.noofqsns }}
      </button>
      <button
        class="ml20"
        [routerLink]="'/admin/quiz/' + q.qid"
        mat-stroked-button
        color="accent"
      >
        Update
      </button>
      <button class="ml20" mat-stroked-button color="accent">
        Attempts
      </button>
      <button
        class="ml20"
        mat-raised-button
        color="warn"

      >
        Delete
      </button>
    </div>
  </mat-card>
  <div class="container text-center mt20 mb20">
    <button routerLink="/admin/add-quiz" mat-raised-button color="accent">
      Add New Quiz
    </button>
  </div>
</div>
-->
