<!--
<div class="row">
  <div class="col-md-3">
    <app-sidebar-user></app-sidebar-user>
  </div>
  <div class="col-md-9">

      <router-outlet></router-outlet>
  </div>
</div> -->
<br>
Current page {{pp}}
<h1>Total Blogs </h1>
<div class="card" style="margin-bottom: 5px;" *ngFor="let p of posts.content; let i=index"   >
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body" >
    <h1 >{{p.title}}</h1>
    <p class="card-text">{{p.content.substring(0,20)}}</p>
    <a   [routerLink]="'/user-dashboard/posting/'+p.id" class="btn btn-primary">Read More</a>
  </div>

</div>

